flask
fpdf
pandas
black
matplotlib
seaborn
watchdog
openai
pdfminer.six
pytest
tqdm
typing-inspect
wordcloud
requests
nbformat
lxml
tabulate
uvicorn
plotly
faker
kaleido
scikit-learn
sentence-transformers
