  <div>
    <h3>Feedback Form</h3>
    <hr>
 <div class="question">
            <label for="question1"><strong>1. Is the Answer Reasonable?</strong></label>
            <div class="rating">
                <input type="radio" id="q1-1" name="question1" value="1"><label for="q1-1">Yes</label>
                <input type="radio" id="q1-2" name="question1" value="2"><label for="q1-2">No</label>
            </div>
        </div>
        <br>
        <div class="question">
            <label for="question2"><strong>2. Is the Insight Useful?</strong></label>
            <div class="rating">
                <input type="radio" id="q2-1" name="question2" value="1"><label for="q2-1">Yes</label>
                <input type="radio" id="q2-2" name="question2" value="2"><label for="q2-2">No</label>
            </div>
        </div>
          <br>
        <div class="question">
            <label for="question3"><strong>3. Is the Follow Up Question Reasonable?</strong></label>
            <div class="rating">
                <input type="radio" id="q3-1" name="question3" value="1"><label for="q3-1">Yes</label>
                <input type="radio" id="q3-2" name="question3" value="2"><label for="q3-2">No</label>
            </div>
        </div>
          <br>
        <div class="question">
            <label for="comment"><strong>4. Comment on what you don't like, like and can be improved:</strong></label><br>
            <textarea id="comment" name="comment" style="width:100%; height:30%"></textarea>
        </div>
<hr>

            <p><strong>Example Feedback:</strong> The insight is not relevant. The insight shows a nice plot. The insight needs to consider the user role. </p>
        </div>