<div class="dataset-container">
    <div class="dataset-info">
        <div class="dataset-title primary-color">Dataset: {{ meta.dataset_name }}</div>
        <div class="dataset-details">({{ n_rows }} rows, {{ n_cols }} columns)</div>
         <p style="font-size:1.0rem; " class="primary-color"><strong>Description:</strong> {{ meta.description }}</p>
    </div>
    <!-- <div class="dropdown">
        <div class="dropdown-title">Select Dataset</div>
        <div class="dropdown-content">
            <a href="/main?dataset=incident">Incident.csv</a>
            <a href="/main?dataset=incident2">Incident2.csv</a>
        </div>
    </div> -->
</div>